/*******************************************/
/********* MENTALISTA GROTESQUE ************/
/*******************************************/

@font-face {
    font-family: 'Mentalista Grotesque';
    src: url('font/mentalista_grotesque/mentalista_grotesque_60-webfont.woff2') format('woff2'),
         url('font/mentalista_grotesque/mentalista_grotesque_60-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*******************************************/
/************* IBM PLEX SANS ***************/
/*******************************************/

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-Thin.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-ThinItalic.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-ExtraLight.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-ExtraLightItalic.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-Light.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-LightItalic.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-Regular.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-Italic.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-Medium.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-MediumItalic.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-SemiBold.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-SemiBoldItalic.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-Bold.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ibm Plex Sans';
    src: url('font/ibm-plex-sans/woff/IBMPlexSans-BoldItalic.woff') format('woff');
    src: url('font/ibm-plex-sans/woff2/IBMPlexSans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}